scipy
scikit-learn 
scikit-image 
opencv-python 
pillow==8.1.1
tqdm 
gpustat 
psutil 
pandas 
GPUtil 
keras==2.2.5 
tensorflow-gpu==1.12.0 
mxnet-cu100==1.5.0 
gluoncv==0.5 
pylg
torch==1.2.0 
torchvision==0.4.0 
tabulate
netron
networkx
matplotlib
