scipy
scikit-learn 
scikit-image 
opencv-python 
pillow==8.1.1 
tqdm 
gpustat 
psutil 
pandas 
GPUtil  
pylg
torch==1.2.0 
torchvision==0.4.0 
tensorflow==2.0.0 
keras==2.3.1 
mxnet==1.5.0
gluoncv==0.5
tabulate
netron
networkx
matplotlib
